<footer class="footer">
    <div class="container footer-container">
                <p class="footer-text">© 2026 Casino Ranking PL. <br class="mob"/>
                All rights reserved.</p>
        <picture>
            <source srcset="
            /img/footer/desk.png 1x,
            /img/footer/desk@2x.png 2x
            " media="(min-width: 1440px)" />
            <source srcset="
            /img/footer/mob.png 1x,
            /img/footer/mob@2x.png 2x
            " media="(max-width: 1439px)" />
            <img src="/img/footer/mob.png" alt="Pay services" loading="lazy" />
        </picture>
    </div>
</footer>