<section class="hero-section">
    <div class="container home-container">
        <h1 class="home-title">Nowe kasyna online w Polsce — <span class="home-span">ranking 2026</span> </h1>
        <p class="home-text">Porównaj aktualne oferty, sprawdź bonusy i wybierz platformę, która daje najlepszy start. Ranking oparty na ocenach
        graczy i realnych doświadczeniach.</p>
    <ul class="home-list">
        <li class="home-item">
            <img src="/img/hero/one.png" alt="icon" loading="lazy">
            <p>100% bezpieczne</p>
        </li>
        <li class="home-item">
            <img src="/img/hero/two.png" alt="icon" loading="lazy">
            <p>szybkie wypłaty</p>
        </li>
        <li class="home-item">
            <img src="/img/hero/three.png" alt="icon" loading="lazy">
        </li>
    </ul>
    </div>
</section>