body{
  background: #000;
    background-image: url("/img/hero/mob.png");
      background-repeat: no-repeat;
      background-position: bottom center;
      background-size: cover;
}
@media only screen and (min-width: 1440px) {
body{
    background-image: url("/img/hero/desk.png");
  }
}
